li{
	color:red;
}
h1{
	color:blue;
	width:200px;
	margin:0 auto;	
	padding:20px 0;
	border:5px solid black;
	background-color:red;
	text-shadow:3px 3px 1px orange;
}
img{
display:block;
margin:0 auto;
}